.first-table  {
    border: solid black;
}

.main-content {
    padding-left: 2rem;
    padding-top: 2rem;
    width: 50%;
    float: left;
}
.second-content {
    padding-left: 2rem;
    padding-top: 2rem;
}